<ion-header-bar class="bar-positive">
        <h1 class="title" style="text-align: center">AKUN</h1>
</ion-header-bar>
<ion-view>
    <ion-content padding="false" class="has-header" ng-repeat="akun in akuns">
        <ion-item >
            <form>
                    <div class="list">
                        <label class="item item-input">
                        <span class="input-label">Username</span>
                            : <input type="text" placeholder="{{akun.nim}}" ng-model="akun.nim" value="{{akun.nim}}" init-from-form readonly="">
                        </label>
                        <label class="item item-input">
                        <span class="input-label">Nama</span>
                            : <input type="text" placeholder="{{akun.nama}}" ng-model="akun.nama" value="{{akun.nama}}" init-from-form readonly="">
                        </label>
                        <label class="item item-input">
                        <span class="input-label">Pass</span>
                            : <input type="text" placeholder="{{akun.password}}" ng-model="akun.password" value="{{akun.password}}" init-from-form readonly="">
                        </label>
                        <button class="button button-assertive button-block" ng-click="keluar();">
                            Logout
                        </button>
                    </div>
                </form>
        </ion-item>
    </ion-content>
</ion-view>